.contact{
    padding: 30px 50px 30px 50px;
  }
  .form{
    font-family: 'Comfortaa', cursive;
    width:40%;
    margin:auto;
  }
  .btn{
    font-family: 'Comfortaa', cursive;
    background-color: paleturquoise;
    border: solid 2px black;
    height: 50px;
    width: 150px;
    align-items: stretch;
    margin-top: -20px;
    color: black;
    border-radius: 6px;
    }

  


    @media only screen and (min-width: 320px) and (max-width: 479px){
      #name.form-control {
        width: 50%;
        display: block;        
        justify-content: center;
        margin-bottom: 20px;
        border: solid 1px dark grey;
  
    }
    #email.form-control{
      width: 50%;
      display: block;        
      justify-content: center;
      margin-top: 20px;
      border: solid 1px dark grey;
    }
    #msg.form-control{
      width: 50%;
      height: 80px;
      display: block;
      float: center;
      justify-content: center;
      margin-bottom: 50px;
      border: solid 1px dark grey;
      margin-top: 20px;
    }
    #submit1.btn.btn-default{
      margin-top: 30px;
    }
    .img-responsive.img-rounded{
      height: 50px;
      width: 90px;
    }
    }
    
    @media only screen and (min-width: 480px) and (max-width: 767px){ 
    
      #name.form-control {
        width: 50%;
        display: block;        
        justify-content: center;
        margin-bottom: 20px;
        border: solid 1px dark grey;
  
    }
    #email.form-control{
      width: 50%;
      display: block;        
      justify-content: center;
      margin-top: 20px;
      border: solid 1px dark grey;
    }
      #msg.form-control{
        width: 50%;
        height: 80px;    
        display: block;
        float: center;
        justify-content: center;
        margin-top: 20px;
        border: solid 1px dark grey;
      
      }
      #submit1.btn.btn-default{
        margin-top: 30px;
      }
      .img-responsive.img-rounded{
      height: 50px;
      width: 90px;
      }
    }